<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="I am a frontend developer and backend developer. I work with modern tools to create beautiful and amazing looking websites"
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Node.js, Frontend developer, backend developer"
    />
    <meta name="author" content="Eloho Kennedy" />
    <script defer src="/javascript/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
      integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <title>Eloho kennedy</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
        <ul class="nav__box">
          <li>
            <p class="nav__item nav__item-name"
              ><span class="nav__item--special">E</span>loho</p
            >
          </li>
        </ul>
      </nav>
      <nav class="nav">
        <ul class="nav__box nav__box--main">
          <li><a class="nav__item" href="#body"> Home </a></li>
          <li><a class="nav__item" href="#about-section"> About </a></li>

          <li
            ><button class="nav__item nav__item-contact"> Contact </button></li
          >
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero-section">
        <div class="hero-section__content">
          <h1 class="hero-section__heading"
            >Hi, I'm <span class="hero-section__name">Eloho</span></h1
          >
          <p class="hero-section__description"
            >I'm a <span class="hero-section__dev">web developer</span></p
          >

          <div class="hero-section__cta">
            <a class="hero-section__portfolio-link" href="#portfolio-section"
              >Portfolio</a
            >
            <!-- <a href="">Get in touch</a> -->
          </div>
        </div>
      </section>

      <section class="section-services">
        <div
          class="heading-secondary-container section-services__heading-container"
        >
          <h2 class="heading-secondary section-services__heading"
            >What i do...</h2
          >
        </div>
        <div class="container section-services__container">
          <div class="section-services__service">
            <img
              class="section-services__img"
              src="https://img.icons8.com/external-lylac-kerismaker/32/000000/external-Frontend-web-development-lylac-kerismaker.png"
              alt="frontend-img-icon"
            />
            <p class="section-services__title">Frontend Development</p>
            <p class="section-services__description"
              >I'll create responsive, beautiful, and user-friendly front-end
              websites and applications. I'll ensure your website or app is kept
              up to date and meets the most recent industry standards. My work
              will look amazing on any device and works smoothly across all
              browsers.
            </p>
          </div>

          <div class="section-services__service">
            <img
              class="section-services__img"
              src="https://img.icons8.com/color/48/000000/backend-development.png"
              alt="backend-icon-img"
            />
            <p class="section-services__title">Backend Development</p>
            <p class="section-services__description"
              >Back-end development is where most of the processing is afa done
              on the server. This includes handling user authentication and
              storing and retrieving data from a database. It can be contrasted
              with front end development which makes website beautiful and
              modern
            </p>
          </div>

          <div class="section-services__service">
            <img
              class="section-services__img"
              src="https://img.icons8.com/fluency/48/000000/error-cloud.png"
              alt="error-icon-img"
            />
            <p class="section-services__title">Bug fixes</p>
            <p class="section-services__description"
              >If you're encountering errors in your code, or having trouble
              debugging a complicated issue, I can help. I know how to identify
              and correct programming glitches quickly and efficiently.
            </p>
          </div>
        </div>
      </section>

      <section class="section-tools">
        <div
          class="heading-secondary-container section-tools__heading-container"
        >
          <h2 class="heading-secondary section-tools__heading">My stack</h2>
        </div>
        <div class="container">
          <ul class="section-tools__box">
            <li class="section-tools__item">
              <div class="section-tools--main">
                <img
                  src="https://img.icons8.com/color/50/000000/html-5--v1.png"
                  alt="html"
                />
                <p class="section-tools__title">Html</p>
              </div>
              <p class="section-tools__description"
                >The HyperText Markup Language or HTML is the standard markup
                language for documents designed to be displayed in a web
                browser. I use this language to give structure and content to
                the page.</p
              >
            </li>

            <li class="section-tools__item">
              <div class="section-tools--main">
                <img
                  src="https://img.icons8.com/color/48/000000/css3.png"
                  alt="css"
                />
                <p class="section-tools__title">css</p>
              </div>
              <p class="section-tools__description"
                >Cascading Style Sheets is a style sheet language that is used
                to describe the display of a document produced in a markup
                language like HTML. With this technology, I can add design
                components to the webpage while also making it responsive.</p
              >
            </li>

            <li class="section-tools__item">
              <div class="section-tools--main">
                <img
                  src="https://img.icons8.com/color/48/000000/javascript--v1.png"
                  alt="javascript"
                />
                <p class="section-tools__title">JavaScript</p>
              </div>
              <p class="section-tools__description"
                >JavaScript, a technology I use to develop interactive web
                applications. Interactive images, carousels, beautiful
                animations, interactive forms, and so much more. All this can be
                powered by Javascript to make the webpage have that modern look
                and feel.</p
              >
            </li>

            <li class="section-tools__item">
              <div class="section-tools--main">
                <img
                  src="https://img.icons8.com/color/48/000000/nodejs.png"
                  alt="Node.js"
                />
                <p class="section-tools__title">Node.js</p>
              </div>
              <p class="section-tools__description"
                >Node.js, Mongodb, Express. Tools for the backend that make the
                page even more complete with elements of authentication,
                authorization, database management, payments and so much
                more.</p
              >
            </li>

            <li class="section-tools__item">
              <div class="section-tools--main">
                <img
                  src="https://img.icons8.com/color/48/000000/pinterest--v1.png"
                  alt="pinterest"
                />
                <p class="section-tools__title">Pinterest</p>
              </div>
              <p class="section-tools__description"
                >This is a very handy website that I use to get my inspiration
                for my designs and development.</p
              >
            </li>
          </ul>
        </div>
      </section>

      <section class="portfolio-section">
        <div
          class="heading-secondary-container portfolio-section__heading-container"
        >
          <h2 class="heading-secondary portfolio-section__heading"
            >Check out my portfolio</h2
          >
        </div>
        <div class="portfolio-section__container">
          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\tamas-tuzes-katai-rEn-AdBr3Ig-unsplash.jpg"
              alt="navigation web app"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://geocoordinates.netlify.app/"
                >Geocoordinates | Places web app</a
              ></figcaption
            >
          </figure>
          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\krists-luhaers-AtPWnYNDJnM-unsplash.jpg"
              alt="A move theatre"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://movies-preview.onrender.com/"
                >A movie website</a
              >
            </figcaption>
          </figure>
          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\caught-in-joy-ptVBlniJi50-unsplash.jpg"
              alt="A music studio"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://music-listen.onrender.com/"
                >A music website</a
              >
            </figcaption>
          </figure>
          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\freestocks-_3Q3tsJ01nc-unsplash.jpg"
              alt="A person shopping"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://onlinetrading.netlify.app/"
                >An ecommerce landing page</a
              >
            </figcaption>
          </figure>

          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\andrey-metelev-yscrM1AOEKI-unsplash-min.jpg"
              alt="nft image"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://digital-nft.netlify.app/"
                >nft landing page</a
              >
            </figcaption>
          </figure>
          <figure class="portfolio-section__content">
            <img
              class="portfolio-section__img"
              src="img\markus-spiske-6pflEeSzGUo-unsplash.jpg"
              alt="A programming language syntax"
            />
            <figcaption
              ><a
                class="portfolio-section__title"
                target="_blank"
                href="https://documenter.getpostman.com/view/12013056/UyxeporV"
                >A restFUL api</a
              >
            </figcaption>
          </figure>
        </div>
      </section>

      <section class="about-section">
        <div class="container about-section__container">
          <div class="about-section__img-box">
            <img
              class="about-section__img"
              src="\img\undraw_programming_re_kg9v.svg"
              alt="illustration of person programming"
            />
          </div>

          <div class="about-section__content-box">
            <div class="about-section__heading-container">
              <h2 class="about-section__heading">About Me ...</h2>
            </div>
            <p class="about-section__content"
              >Hey there, I am a web developer. My recent projects include
              designing, coding and managing complex backend systems, As well as
              the architecture and coding of an Ecommerce Rest API as you can
              see in my <a class="about--link" href="#">Portfolio</a> I build
              sites, apps and everything for the web. I code for all devices and
              screen widths the modern tools and technologies. I love to design
              and code. I am passionate about making the web a more accessible
              place for all. I occasionally take freelance opportunities. Feel
              free to
              <button class="contact-portfolio">Contact me</button> let's talk
              about your next project.
            </p>
            <span class="about-section__disclaimer"
              >PS: I suck at writing :)</span
            >
          </div>
        </div>
      </section>
    </main>

    <div class="contact inactive">
      <form class="contact__form" autocomplete="off" action="">
        <p class="contact__heading">Get in touch</p>
        <ion-icon class="contact__icon-close" name="close-outline"></ion-icon>
        <div class="contact__box">
          <label class="contact__label" for="name">Name *</label>
          <input
            class="contact__input"
            placeholder="Your name"
            id="name"
            name="name"
            type="text"
          />
          <span class="contact__err contact__err--inactive"
            >Your name is required</span
          >
        </div>

        <div class="contact__box">
          <label class="contact__label" for="email">Email *</label>
          <input
            class="contact__input"
            placeholder="Your email"
            id="email"
            name="email"
            type="email"
          />
          <span class="contact__err contact__err--inactive"
            >Your email is required</span
          >
        </div>

        <div class="contact__box">
          <label for="message" class="contact__label" for="name"
            >Message *</label
          >
          <textarea
            class="contact__text-area"
            placeholder="what are you thinking..."
            name="message"
            id="message"
            cols="30"
            rows="2"
          ></textarea>
          <span class="contact__err contact__err--inactive"
            >Message is required</span
          >
        </div>

        <button class="contact__btn-submit">Send message</button>
      </form>
    </div>

    <div class="overlay inactive"></div>

    <div class="message-box inactive-message">
      <p class="message"
        >Message received! I'll get back to you as soon as possible</p
      >
    </div>
    <div class="lds-roller spinner-border inactive">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  </body>
</html>
